* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', monospace;
  background: #202020;
  color: #ffffff;
  line-height: 1.6;
}

details[open] summary {
  color: #04e7af;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.subtitle {
  font-size: 17px;
  gap: 10px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1b1b1b;
  padding: 10px auto;
  border-radius: 6px;
}

.nav-links {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4em;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #696969;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  background-color: #585858;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    background-color: transparent;
    padding: 1.5em;
  }

  .hamburger {
    display: flex;
    width: fit-content;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2e2d2d;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  #menu-toggle:checked~.nav-links {
    max-height: 350px;
    padding: 10px 5px;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links li a {
    display: block;
    font-size: 1em;
    padding: 15px;
  }
}

/* START OF INTRO HERO SECTION*/
.hero {
  background-color: #414141;
  border-radius: 8px;
  padding: 10px 20px 5px;
  margin-bottom: 40px;
  text-align: center;
}

.mynamee {
  font-size: 2.2rem;
  font-weight: bold;
}

.location {
  display: flex;
  width: fit-content;
  margin: 1em auto;
  gap: 10px;
}

.phili {
  font-size: 18px;
}

.ctcte {
  color: #cecece;
  margin-top: 14px;
}

.emaillink a {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: 1em auto;
  text-decoration: none;
  color: rgb(248, 248, 248);
  border: solid 2px white;
  padding: 5px;
  transition: color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.emaillink a:hover {
  color: rgb(26, 26, 26);
  background-color: #292929;
}

/* End of INTRO HERO */

.section {
  scroll-margin-top: 80px;
  padding: 10px;
  margin-bottom: 10px;
}

.section-title {
  letter-spacing: 1px;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}

.intro-text {
  border-radius: 6px;
  text-align: center;
  background-color: white;
  padding: 40px;
  color: rgb(109, 109, 109);
  font-size: 18px;
  margin-bottom: 40px;
  margin: 20px;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  margin-bottom: 40px;
}

.stats-box {
  cursor: pointer;
  text-align: center;
  flex: 1;
  min-width: 200px;
  border: 2px solid #ffffff;
  padding: 10px;
  transition: all 0.3s ease;
}

.stats-box:hover {
  color: black;
  background-color: #ffffff;
}

.stat-number {
  font-size: 3em;
  display: block;
}

.tech-list {
  font-weight: lighter;
  cursor: pointer;
  flex-wrap: wrap;
  display: flex;
  gap: 13px;
  margin: 20px 0;
  font-size: 1.5rem;
}

.tech-tag {
  border: 2px solid white;
  padding: 10px;
  font-size: 1em;
  transition: all 0.3s ease;
}

.tech-tag:hover {
  color: black;
  background-color: #ffffff;
}

.goal-list {
  list-style: none;
}

.goal-list li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  border: 2px solid white;
  transition: all 0.3s ease;
  padding-left: 45px;
  font-size: 20px;
}

.goal-list li:hover {
  color: #000000;
  background-color: #ffffff;
  padding-left: 60px;
}

.goal-list li::before {
  content: '>';
  position: absolute;
  left: 15px;
  font-size: 1.5em;
}

.contact-intro-text {
  font-size: 2em;
}

.contact-section {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 50px;
  margin-bottom: 50px;
}

.contact-section p {
  font-size: 18px;
  color: #dfdfdf;
  margin-bottom: 2px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 15px;

}

.pc-section {
  border: 1px solid #ffffff;
  padding: 10px;
  gap: 10px;
}

.pc-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pc-section li {
  font-family: monospace;
  font-size: 16px;
}

.psunote {
  background-color: rgba(255, 94, 94, 0.158);
  border: 1px solid rgba(255, 94, 94, 0.3);
  padding: 15px;
  text-align: center;
  padding: 20px;
  color: #f7f3f35e;
  font-size: 0.9em;
  border-left: 5px solid rgba(255, 38, 0, 0.575);
  border-radius: 8px;
  margin-top: 15px;
  color: var(--warning);
}

.pcspecs {
  transition: color 0.3s ease;
  cursor: pointer;
}

.pcspecs:hover {
  color: #01dd89;
}

summary {
  font-size: 1.8em;
  font-family: monospace;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  padding: 16px;

}

@media(max-width: 768px) {
  summary {
    font-size: 18px;
  }
}

.btn {
  font-family: monospace;
  margin-top: 15px;
  text-decoration: none;
  color: rgb(104, 103, 103);
  background-color: rgb(253, 253, 253);
  border: 1px solid #0e0e0e;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.2em;
  display: inline-block;
  transition: all 0.4s ease;
  transition: tranrgb(77, 17, 17).4s ease;
  box-shadow: rgba(158, 158, 158, 0.315) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btn.facebook:hover {
  background-color: #025ec7;
}

.btn.reddit:hover {
  background-color: orangered;
}

.btn:hover {
  background-color: #2e2d2d;
  color: #f7f6f6;
  transform: translateY(-4px);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  filter: grayscale(100%);
  background-color: transparent;
}


.mymods {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 50px;
  margin-bottom: 50px;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8em;
  }

  .stats-container {
    flex-direction: column;
  }

  .contact-links {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media (max-width: 1400px) {
  .tech-list {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .contact-section {
    padding: 10px;
    margin: 15px;
  }
}
